protobuf==4.24.4
werkzeug==3.0.0
Jinja2==3.1.2
itsdangerous==2.1.2
google-auth
eventlet==0.33.3
opencv-python==4.2.0.32
flask==3.0.0
flask-cors==4.0.0
git+https://github.com/maxcountryman/flask-login.git#egg=Flask-Login
flask-restx==1.1.0
flask-mongoengine==1.0.0
numpy==1.22.2
cython
scikit-image
requests
google_images_download==2.5.0
watchdog==3.0.0
pytest==3.9.3
pytest-ordering==0.6
imantics==0.1.9
Flask-SocketIO
celery==5.3.4
Shapely==1.7.0
scipy==1.2.1
scikit-learn==0.20.3
Pillow==10.0.1
matplotlib==3.0.3
keras==2.13.1
h5py
imgaug
IPython[all]
jupyter
restx-monkey
